elpa/*
auto-save-list/*
backup/*
transient/*
url/*
node_modules/*
eln-cache/*
blog-config.el
bookmarks
recentf
org-roam.db
.org-id-locations
server
*.org#
lisp/.#autocomplete-config.el
#c!!Users!signu!.emacs.d!lisp!autocomplete-config.el#
#c!!Users!signu!.emacs.d!lisp!autocomplete-config.el#
session.10140103106128000170586742600000015430016
